body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.form {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.text {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}

.widget {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.weatherIcon img {
    width: 100px;
}

.temperature {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.weatherCondition,
.place {
    font-size: 18px;
    margin-bottom: 10px;
}

.date {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}